@{
    ViewBag.Title = "Home Page";
}

<div class="row"></div>

<div class="row">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="~/Content/Imgs/camisaBlanca.jpg" />
                <div class="caption center-align">
                    <h3>Tienda Online</h3>
                    <h5 class="light grey-text text-lighten-3">Vive Tu Estilo</h5>
                </div>
            </li>
            <li>
                <img src="~/Content/Imgs/camisasNike.jpg" />
            </li>
            <li>
                <img src="~/Content/Imgs/gef.png" />
                <div class="caption right-align">
                    <h3>Tu Mejor Estilo</h3>
                </div>
            </li>
            <li>
                <img src="~/Content/Imgs/gorras.jpg" />
            </li>
            <li>
                <img src="~/Content/Imgs/mujeres.jpg" />
            </li>
            <li>
                <img src="~/Content/Imgs/pantalones.jpg" />
                <div class="caption center-align">
                    <h3>Visitanos</h3>
                </div>
            </li>
        </ul>
    </div>
</div>
